footer{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: darkred;
    
    

    #map-tel{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        #map{
          grid-column: 1/2;
          }
        
        #tel{
          grid-column: 2/3;
         }
        #fb{
          grid-column: 3/4;
        }
       
     
        }
}
