.mobile-header {
     display: grid;
     background: darkred;
    .logo{
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding: 20px;
         
         
         
         img {
             justify-self: end;
             align-self: center;
             width: 200px;
             border-radius: 10px 10px 10px 10px;
             
            }
         h2{
             font-family: Arial, Helvetica, sans-serif;
             padding: 10px;
             text-align: center;
             justify-self: center;
             align-self: center;
            } 
         
    }

    #toggle{
         width: 50px;
         height: 50px;
         position: absolute;
         opacity: 0;
         z-index: 5;
         
     }
    #toggle:checked ~ #burger-menu{
         top: 0;
         opacity: 1;
         }

    #toggle:hover ~ #burger-menu-container{
         transform: rotate(-25deg);
         background: black;
         border-radius: 50%;
         }

    #toggle:checked ~ #burger-menu-container{
         transform: rotate(45deg);
         }

    #toggle:checked ~ #burger-menu-container #line-1,
    #toggle:checked ~ #burger-menu-container #line-3{
         top: 0;
         transform: rotate(90deg);
         }
    #burger-menu-container{
         display: grid;
         justify-items: center;
         align-items: center;
         width: 50px;
         height: 40px;
         z-index: 4;
         position: relative;
         left: 30px;
         top: 20px;
         transition: all 0.2s linear;
         
         .burger-line {
             width: 30px;
             height: 3px;
             background-color: white;
             }
          }

    #burger-menu {
         transition: all 0.5s ease-in-out;
         position: absolute;
         width: 100%;
         background-color: #2e2e2e;
         display: grid;
         justify-items: center;
         align-items: center;
         top: -55vh;
         opacity: 0;
         left: 0;
         min-height: 55vh;
         border-radius: 500px;
         z-index: 3;
         overflow: hidden;

        #okotoks{
             opacity: .1;
             justify-self: center;
             align-self: center;
             position:absolute;
             max-width: 600px;
             border-radius: 1000px;
        }
        a:hover{
             color: darkred;
        }
        a{
             text-decoration: none;
             color: white;
             font-family: Arial, Helvetica, sans-serif;
             font-weight: bold;
             font-size: 50px;
             z-index: 10;
        }
    }  
}

#menu-header{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding: 20px;
     border-bottom: 2px solid black;
     background: white;
     
     
    img{
         position: absolute;
         opacity: 0.7;
         z-index: -10;
         width: 100%;
         height: 180px;
     }
    h1{
     grid-column: 1/3;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     }
     #pizza{
          grid-column: 1/2;
     }   
     
 .menu-tags:hover{
      color: darkred;
 }
 .menu-tags{
         text-decoration: none;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         font-size: 1.5em;
         color: black;
         text-align: center;
         
         
     }
   }
   #desktop-header{
        display: none;
   }

   @media only screen and (min-width:540px){
    #desktop-header{
         display: none;
    }
     header{
        h2{
           font-size: 2em;
        }
     }
}
@media only screen and (min-width:1366px){
     .mobile-header{
          display: none;

     }
     #desktop-header{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px;
      
     h2{
          grid-column: 1/2;
          margin: 20px;
          justify-self: center;
          align-self: center;
          font-size: 3em;
          text-decoration: underline;
     }
     img{
          grid-column: 3/4;
          width: 450px;
          border-radius: 10px;
          margin-left: 65px;
          margin-bottom: 20px;
          
     }
     a:hover{
          color: black;
     }
     a{
          text-align: center;
          align-self: center;
          font-size: 2em;
          text-decoration: none;
          color: white;
          font-weight: bold;
          background: darkred;

          
     }
     }

}