body{
    margin: 0;
    padding: 0;

@import 'header';    

main::-webkit-scrollbar {
     display: none;
}

main {
     
     margin: 20px;
     border-radius: 10px;
     overflow-y: scroll;
     scrollbar-width: none;
     -ms-overlay-style: none;
     padding: 20px;
     height: 600px;
     
        
        #contact{
           background: black;
           border-radius: 10px;
           padding: 10px;
           text-align: center;
           
        }
        #ho{
           background: black;
           color: white;
           h1 {
              display: block;
              color: red;
           }
           
             
        }
     #cc{
           background: black;
           padding: 20px;
           margin: 10px;
           border-radius: 10px;
           color: white;
         a{
           text-decoration: none;
           color: red;
          }
     }
     #map{
         border-radius: 10px;
         overflow: hidden;
        }
}
 @import 'footer';
}
@media only screen and (min-width:540px){
   
   #contact{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      #cc{
         overflow: hidden;
         a{
            color: white;
         }
         h2{
            color: red;
         }
      }
   }
}
@media only screen and (min-width:1366px){
    main{
       
       #contact{
         border: 10px solid red;
         }
   }
}  
