*{
    margin: 0;
    padding: 0;
}
  @import 'header';

  @import 'menu';
    
  @import 'footer';

@media only screen and (min-width:1366px){
  main{

    #item-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 35px;
    
      .items{
        width: 15vw;
        height: 45vh;
        #spirits{
          grid-template-columns: 1/2;
        }
      }
    }
  }
}