body{
  margin: 0;
  padding: 0;
  
  @import 'header';  

  @import 'menu';

  @import 'footer';
}
#item-container{
 
  .s-image{
    border-radius: 100%;
    }
}
@media only screen and (min-width:1366px){
  main{
    margin-left: 45px;
    place-items: center;
    
    
  #item-container{
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    h2{
    color: red;
    }
    #pep{
      width: 15vw;
      height: 40vh;
    }
    #vegatarian{
      width: 15vw;
      height: 40vh;
    }
    #italian{
      width: 15vw;
      height: 40vh;
    }
    #greek{
      width: 15vw;
      height: 40vh;
    }

  }
   
  }
}

