body{
    margin: 0;
    padding: 0;
   

@import 'header';
    

main {
    display: grid;
    
    .about::-webkit-scrollbar{
        display: none;
    }
    
    .about{
        scrollbar-width: none;
        -ms-overlay-style:none;
        overflow-y: scroll;
        width: 90%;
        justify-self: center;
        padding-top: 20px;
        border-radius: 10px 0px 0px 10px;
        background: black;
        color: red;
        border-radius: 10px 10px 10px 10px;
        height: 600px;

    h2{
        justify-self: start;
        margin-bottom: 0;
        margin-left: 10px;
    }
    
    h1{
       justify-self: start;
       margin-top: 0;
       margin-left: 10px;
    }
    p{
       text-align: center;
       padding: 10px;
       color: white
    }
}
}
@import 'footer';
}

@media only screen and (min-width: 700px){
  *{
    margin: 0;
    padding: 0;
  }
    .about{
      display: grid;
      margin-top: 10px;
    }
    #video{
      justify-self: center;
    }
      
}

