body{
    margin: 0;
    padding: 0;
   

@import 'header';
    

main {
    display: grid;
    
    .about::-webkit-scrollbar{
        display: none;
    }
    
    .about{
        scrollbar-width: none;
        -ms-overlay-style:none;
        overflow-y: scroll;
        justify-self: center;
        height: 550px;
        color: red;
        text-align: center;
        border-top: 2px solid lightgray;
      h2{
        justify-self: start;
        margin-bottom: 0;
        margin-left: 10px;
      }
    
      h1{
       justify-self: start;
       margin-top: 0;
       margin-left: 10px;
      }
      
      p{
       text-align: center;
       padding: 10px;
       color: black
      }
     
      #video{
      border: 5px solid red;
      }
    }
}
@import 'footer';


@media only screen and (min-width: 540px){
  
  .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: 50px;
    
  #title{
    border-right: 2px solid lightgray;
    h2{
      place-self: start;
    }
  }
  }    
}
@media only screen and (min-width:1366px){
  .about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    padding: 50px;
    border-top: 2px solid lightgray;
    gap: 20px;
  #title{
    grid-column: 1/2;
    }
  #two{
    grid-column: 2/3;
  
    }
  }
}

}